name: Build and upload to PyPI

on:
  workflow_dispatch:
  release:
    types: [published]

env:
  CIBW_BUILD: cp37-* cp38-* cp39-* cp310-*
  CIBW_BEFORE_BUILD: pip install cython
  CIBW_MANYLINUX_X86_64_IMAGE: manylinux2014
  CIBW_MANYLINUX_I686_IMAGE: manylinux2014

jobs:
  build_wheels:
    name: Build wheels on [ ubuntu-latest ]
    runs-on: [ ubuntu-latest ]
    strategy:
      matrix:
        os: [ubuntu-latest] #, windows-latest]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: '3.10'

      - name: Install cibuildwheel
        run: |
          # python -m pip install cibuildwheel
          pip install -U setuptools setuptools_scm wheel
      - name: Build wheels
        run: |
          # python -m cibuildwheel --output-dir wheelhouse
          python setup.py bdist_wheel
      - uses: actions/upload-artifact@v4
        with:
          name: artifact-wheel-${{ matrix.os }}
          path: ./dist/*.whl


  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        name: Install Python
        with:
          python-version: '3.10'

      - name: Install setuptools
        run: |
          pip install -U setuptools setuptools_scm wheel

      - name: Build sdist
        run: python setup.py sdist

      - uses: actions/upload-artifact@v4
        with:
          name: artifact-sdist
          path: dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: artifact-sdist
          path: dist

      # - uses: actions/download-artifact@v4
      #   with:
      #     name: artifact-wheel-windows-latest
      #     path: dist

      - uses: actions/download-artifact@v4
        with:
          name: artifact-wheel-ubuntu-latest
          path: dist

      - uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.upload_pypi }}
